<div class="order-line-item-price price">
  <% if item.add_ons.empty? %>
    <%= item.single_money %>
  <% else %>
    <div class="original-price">
      <%= item.single_money %>
    </div>
    <% item.line_item_add_ons.each do |line_item_add_on| %>
      <div>
        +&nbsp;<%= line_item_add_on.money %>
      </div>
    <% end %>
    <div class="final-price">
      <%= item.single_money_with_add_ons %>
    </div>
  <% end %>
</div>
