<div>
  <% item.line_item_add_ons.each do |line_item_add_on| %>
    <div>
      + <strong><%= line_item_add_on.money %></strong> <%= line_item_add_on.add_on.display_name %>
    </div>
  <% end %>
</div>
