$zindexModalBackdrop: 1;
$zindexModal: 2;
$white: white;
$black: black;

@import 'bootstrap/mixins';
@import 'bootstrap/modals';
@import 'store/variables';

.pull-right {
  float: right;
}

.hide {
  display: none;
}

.add-on-checkbox {
  display: block;
}

.line-item-add-on {
  vertical-align: bottom;
  label {
    display: inline-block;
    vertical-align: bottom;
  }
}

.add-on-amount {
  vertical-align: bottom;
  font-weight: bold;
  color: $link_text_color;
}

.add-on-info {
  vertical-align: bottom;
  strong {
    vertical-align: bottom;
  }
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.order-line-item-price {
  font-weight: bold;
  text-align: right;
  color: #00adee;

  .final-price {
    text-decoration: underline;
  }
  .original-price {
    text-decoration: line-through;
  }
}

